<ion-header>

  <ion-navbar>
    <ion-title *ngIf="food">{{ food.desc.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="food" class="item-detail" padding>
    <h2>{{food.desc.name}}</h2>
    <p>{{_compact([food.desc.ds, food.desc.manu]).join(" &middot; ")}}</p>
    <p>{{food.desc.manu}}</p>

    <ion-grid *ngFor="let group of nutrientGroups | keyvalue">
      <h3>{{group.key}}</h3>
      <ion-row *ngFor="let nutrient of group.val">
        <ion-col>
          {{nutrient.name}}
        </ion-col>
        <ion-col>
          {{nutrient.group}}
        </ion-col>
        <ion-col>
          {{nutrient.value}} {{nutrient.unit}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>