.item-profile {
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 250px;
}

.item-detail {
  width: 100%;
  background: white;
  position: absolute;
}

@media (max-width: 768px) {
  .nutrient-group-name-row {
    margin-top: 16px;
  }
}