<ion-header>

  <ion-toolbar>
    <ion-title *ngIf="food">{{ food.desc.name }}</ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only (click)="gotToSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div>
    <ion-item>
      <ion-range min="0" max="1000" step="{{amount < 100 ? 1 : 10}}" [(ngModel)]="amount">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </div>

  <div *ngIf="food" class="item-detail" padding>
    <h1><small>{{amount}} g </small>{{food.desc.name}}</h1>
    <p>{{_compact([food.desc.ds, food.desc.manu, food.desc.ndbno]).join(" &middot; ")}}</p>
    <p>
      <ion-button  (click)="addToCollection()">Add to Collection</ion-button>
    </p>

    <ion-grid *ngFor="let group of nutrientGroups | keyvalue">
      <h3>{{group.key}}</h3>
      <ion-row>
        <ion-col>
          <strong>Nutrient</strong>
        </ion-col>
        <ion-col>
          <strong>Group</strong>
        </ion-col>
        <ion-col>
          <strong>per 100 g</strong>
        </ion-col>
        <ion-col>
          <strong>in {{ amount }} g</strong>
        </ion-col>
        <ion-col>
          <strong>Reference</strong>
        </ion-col>
        <ion-col>
          <strong>Density</strong>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let nutrient of group.value">
        <ion-col size="12" size-md>
          <strong>{{nutrient.name}}</strong>
        </ion-col>
        <ion-col size="12" size-md>
          {{nutrient.group}}
        </ion-col>
        <ion-col size="12" size-md>
          {{nutrient.value}} {{nutrient.unit}}
        </ion-col>
        <ion-col size="12" size-md>
          {{(nutrient.value / 100 * amount) | number:'1.0-3'}} {{nutrient.unit}}
        </ion-col>
        <ion-col size="12" size-md>
          <div *ngIf="ref[nutrient.name]">
            <span *ngIf="ref[nutrient.name].target">{{ (nutrient.value / 100 * amount / ref[nutrient.name].target) | percent }} </span>
            <span *ngIf="!ref[nutrient.name].target && ref[nutrient.name].lower && nutrient.value / 100 * amount < ref[nutrient.name].lower">low</span>
            <span *ngIf="!ref[nutrient.name].target && ref[nutrient.name].lower && ref[nutrient.name].upper && nutrient.value / 100 * amount >= ref[nutrient.name].lower && nutrient.value / 100 * amount < ref[nutrient.name].upper">ok</span>
            <span *ngIf="!ref[nutrient.name].target && ref[nutrient.name].upper && nutrient.value / 100 * amount > ref[nutrient.name].upper">high</span>
            <span style="color: #afafaf">
              of {{ref[nutrient.name].target}} {{nutrient.unit}}
            </span>
          </div>
        </ion-col>
        <ion-col size="12" size-md>
          {{ nutrient.value / calories * 100 | number: '1.0-2' }} {{nutrient.unit}}/100 kcal
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <collection-footer></collection-footer>
</ion-footer>