<ion-header>

  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="okra raw" [(ngModel)]="currentQuery"></ion-searchbar>
  <ion-list *ngIf="currentItems && currentItems.length > 0">
    <ion-item *ngFor="let item of currentItems" [routerLink]="['/detail', item.ndbno]">
      <ion-label>{{item.name}}</ion-label>
      <ion-note slot="end">{{_compact([item.group, item.manu === 'none' ? undefined : item.manu]).join(" &middot; ")}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-spinner *ngIf="searchInProgress"></ion-spinner>
  <ion-note *ngIf="currentItems.length === 0 && currentQuery !== '' && !searchInProgress">No search results for "{{ currentQuery }}"</ion-note>
</ion-content>

<ion-footer>
  <collection-footer></collection-footer>
</ion-footer>